.hb-availability-calendar-wrapper {
  /* keep default HBook layout */
}

.hb-availability-calendar .gs-hb-day {
  display: block;
  line-height: 1.1;
}

.hb-availability-calendar .gs-hb-day-number {
  display: block;
}

.hb-availability-calendar .gs-hb-day-price {
  display: block;
  font-size: 10px;
  color: dimgray;
  margin-top: 2px;
}


